/******** INICIO CONTACTO ********/
@import "./variables";

$largoFormulario: 200px;

.contacto__espacio{
    height: 80vh;
    margin-top: 2rem;
}
.contacto__color{
    color: $rojo;
}

.formulario__comentario{
    height: $largoFormulario !important;
}

.formulario__texto{
    font-size: 1.2rem ;
    border-radius: 0%;
    border: solid 0.2rem black;
    ::placeholder{
        font-size: 1.2rem;
    }
}
.formulario__texto:focus{
    border-color: black;
}

