/******* HEADER ********/

.scrollBack{
    color: black;
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 998;
    bottom: 15px;
    right: 15px;
    scroll-behavior: smooth;
}

.cabecera{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #e6e8ebe5;
}

.navbar__logo{
    height: 5rem;
    width: 5rem;
}

.modal__body--texto{
    font-size: 2rem;
    text-align: center;
}