/* INDEX */

@import "./media-queries";



.carrusel__item--1{
    background-image: url(../../img/platoNocturno.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    @include tablet{
        background-attachment: fixed;
        background-size: contain;
        background-position: center center;
    }
    
}
.carrusel__item--2{
    background-image: url(../../img/mesaLarga.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include tablet{
        background-attachment: fixed;
        background-size: contain;
        background-position: center center;
    }
}
.carrusel__item--3{
    background-image: url(../../img/carneConEnsalada2.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include tablet{
        background-attachment: fixed;
        background-size: contain;
        background-position: center center;
    }
}
.carrusel__texto{
    display: none;
    @include tablet{
        display: block;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000000;
    }   
}
.profundidad{
    z-index: 200;
}
