/******* INICIO MENU ********/
@import "./variables";

.menu{
    height: 100vh;
    margin-top: 5rem;
}
.accordion-button, .accordion-button:active, .accordion-button:not(.collapse){
    color: $negro;
}
.collapse__contenedor{
    background-color: $blanco !important;
    color: $gris !important;

    .collapse__body{
        background-color: $blanco;

        .collapse__texto{
            font-size: 1rem;
            @include tablet{
                font-size: 1.5rem;
            }
        }
    }
}

.collapse__contenedor:focus{
    background-color: $gris !important;
}
.accordion-button:focus{
    border-color: $gris;
    box-shadow: 0 0 0 0;
}
.accordion-button{
    color: $rojo !important;
}