@import "./variables";

/* PAGINA 404 */

.pepito{
    height: 300px;
    width: 300px;
}
.wawa{
    font-family: $familiaGrande;
    font-size: 15rem;
    color: black;
}
.btn__texto{
    color: white;
}
.btn__texto:hover{
    color:white;
}