@import "./variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $familiaChica;
    font-size: 400;
}
body{
    color: $gris;
    background-color: $blanco !important;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: $familiaGrande;
}
a{
    text-decoration: none;
}
// .container-fluid{
//     background-color: $blanco !important;
// }