/*  COLORES */

$blanco: #ffffff;
$negro: black;
$gris: rgb(133, 133, 133);
$rojo: red;


/*  TIPOGRAFIAS  */

$familiaGrande: 'Bebas Neue', cursive;
$familiaChica: 'Karla', sans-serif;


/*  TRANSICION  */

$transicion: all 0.2s ease-in-out;